.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.slide img,
.slide video,
.slide iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none; 
  object-fit: cover;
}

.active {
  opacity: 1;
}


.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 520px;
  color: white;
}

.left {
  left: 5%;
}

.right {
  right: 5%;
}

.gradient {
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.1)
  );
}
